.cabecalho {
    display: flex;
    justify-content: space-between;
    background-color: var(---branco);
    position: relative;
    align-items: center;
}

.cabecalho_menu{
    display: inline-block;
    background-image: url("./img/menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container__imagem {
    width: 10%;
    padding: 1em;
}

.lista__menu{
    display: none;
    background-color: var(---branco);
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked~.lista__menu{
display: block;
}
.container__menu {
    display: none;
}
.cabecalho-lista-titulo{
    color:var(--roxo);
}
.cabecalho-lista-item{
    color: var(--azul);
    padding: 1em;
}

.menu__lista-item{
    color: var(--azul);
}

@media screen and (mid 1024px) {
    .container__titulo{
     display: block;
     font-family: var(--fonte-secundaris);
     font-weight: 400;
     font-size: 30px;
    }

    .container__titulo--negrito{
        font-weight: 700;
    }
    .cabecalho_menu{
        display: none;
}
.container__favorito{
    display: none;
}
